<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="TGoC_Charlie and Bootstrap">
    <title>成功電研社-活動</title>


    <!-- Bootstrap core CSS -->
    <%- include('./model/head.ejs') %>

    <style>
        #ahover:hover {
            color: #007bff;
        }
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
</head>
<body>
    <%- include('./model/header.ejs') %>

<main role="main">


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->


        <!-- START THE FEATURETTES -->

        <h1 class="featurette-heading col-12"
            style="text-align: center;margin-top: 50px;padding-bottom: 50px;font-weight: bold;padding-top: 100px">
            活動</h1>
        <p style="font-size: x-large ; text-align: center">相信各位在社團只有打程式一定也很無聊，<br>
            所以我們會定期舉辦跨校的社團活動，讓你不只學會程式語言，<br>
            也結交外校的好朋友，豐富你的社團生活。</p>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-6">
                <h2 class="featurette-heading">暑訓</h2>
                <p class="lead">主辦學校:建中資訊、成功電研、中山資研、景美電資<br>
                    活動時間:8/3~8/9，為期7天(不過夜)<br>
                    活動內容:大地遊戲、主題式課程、企業參訪、RPG、桌遊、成果發表、神秘活動<br>
                    參加對象:國三升高一學生為主，限40名</p>
            </div>
            <div class="col-md-6">
                <img style="width: 100%;border-radius: 10px" src="assets/css/images/summer.png">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-6">
                <h2 class="featurette-heading">迎新</h2>
                <p class="lead">主辦學校:成功電研、中山資研、建中電研、附中電算、大安電研、麗山星創、中和資研、政附資訊<br>
                    活動時間:10/18，為期1天<br>
                    活動內容:破冰遊戲、大地遊戲、演講、RPG<br>
                    參加對象:八校高一社員，人數不限</p>
            </div>
            <div class="col-md-6 order-md-1">
                <img style="width: 100%;border-radius: 10px" src="assets/css/images/new.jpg">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-6">
                <h2 class="featurette-heading">聯課</h2>
                <p class="lead">主辦學校:建中資訊、成功電研、中山資研、景美電資<br>
                    活動時間:約十月底、十一月初的六日，為期4天<br>
                    活動內容:大地遊戲、主題式課程<br>
                    參加對象:四校高一社員，限40人</p>
            </div>
            <div class="col-md-6 order-md-1">
                <img style="width: 100%;border-radius: 10px" src="assets/css/images/class.JPG">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-6">
                <h2 class="featurette-heading">秋/冬遊</h2>
                <p class="lead">主辦學校:成功電研、景美電資<br>
                    活動時間:約十一月底，為期1天<br>
                    活動內容:每年不定<br>
                    參加對象:兩校高一社員，人數不限</p>
            </div>
            <div class="col-md-6 order-md-1">
                <img style="width: 100%;border-radius: 10px" src="assets/css/images/fall.jpeg">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-6">
                <h2 class="featurette-heading">耶晚</h2>
                <p class="lead">主辦學校:建中資訊、成功電研、中山資研、景美電資<br>
                    活動時間:約十二月底，為期半日<br>
                    活動內容:交換禮物、團康<br>
                    參加對象:四校高一社員，人數不限</p>
            </div>
            <div class="col-md-6 order-md-1">
                <img style="width: 100%;border-radius: 10px" src="assets/css/images/xmas.JPG">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-6">
                <h2 class="featurette-heading">寒訓</h2>
                <p class="lead">主辦學校:建中資訊、成功電研、中山資研、景美電資<br>
                    活動時間:約一月底，為期7天(不過夜)<br>
                    活動內容:大地遊戲、主題式課程、企業參訪、RPG、桌遊、成果發表、神秘活動<br>
                    參加對象:四校高一社員，限40人</p>
            </div>
            <div class="col-md-6 order-md-1">
                <img style="width: 100%;border-radius: 10px" src="assets/css/images/winter.png">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-6">
                <h2 class="featurette-heading">春遊</h2>
                <p class="lead">主辦學校:成功電研、中山資研<br>
                    活動時間:約三月初，為期1天<br>
                    活動內容：每年不定<br>
                    參加對象:兩校高一社員，人數不限</p>
            </div>
            <div class="col-md-6 order-md-1">
                <img style="width: 100%;border-radius: 10px" src="assets/css/images/no-image.png">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <%- include('./model/footer.ejs') %>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</html>
