<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="TGoC_Charlie and Bootstrap">
    <title>成功電研社- 放學社課</title>

    <!-- Bootstrap core CSS -->
    <%- include('./model/head.ejs') %>

    <style>
        #ahover:hover {
            color: #007bff;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        h2 {
            margin-top: 50px;
            text-align: center;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
</head>

<body>
    <%- include('./model/header.ejs') %>

    <main role="main">
        <div class="container marketing">
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <h1 class="featurette-heading col-12"
                    style="text-align: center;margin-top: 50px;padding-bottom: 50px;font-weight: bold">放學社課</h1>
                <div class="col-lg-1">
                    <p></p>
                </div>
                <div class="col-lg-2">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                        src="../assets/css/images/web.png" />
                    <h2><strong>星期一</strong><br>網頁設計<br>前端+後端</h2>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
                        style="width: 80%;margin: 5px 10%;">
                        View Detail
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: xx-large;">網頁設計
                                    </h5>
                                    
                                </div>
                                <div class="modal-body" style="font-size: large;">
                                    21世紀初以來，網路越來越融入人們的生活，從電腦，到現在人手一台的手機，通通都能上網。隨著時代的進步，網頁的技術也隨之進步，這門課就讓你從完全不會的新手，變成一個網頁製作者。<br>課程內容包含:HTML,CSS,Javascript,node.js,Google
                                    Sheets API
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Learn More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-2">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                        src="../assets/css/images/python.png" />
                    <h2><strong>星期二</strong><br>Python<br>小遊戲</h2>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1"
                        style="width: 80%;margin: 5px 10%;">
                        View Detail
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: xx-large;">
                                        Python
                                    </h5>
                                    
                                </div>
                                <div class="modal-body" style="font-size: large;">
                                    這堂課你可以學到基本python語法<br>
                                    輸入輸出，變數，判斷，迴圈，陣列，函式庫等等<br>
                                    而還會有進階的課程在教你寫一個屬於自己的視窗，我會一步一步帶你們寫一個屬於你們自己的遊戲
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <!--<button type="button" class="btn btn-primary">Learn More</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-2">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                        src="../assets/css/images/ml.png" />
                    <h2><strong>星期三</strong><br>機器學習<br>深度學習</h2>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2"
                        style="width: 80%;margin: 5px 10%;">
                        View Detail
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: xx-large;">
                                        機器學習
                                    </h5>
                                    
                                </div>
                                <div class="modal-body" style="font-size: large;">
                                    生成屬於自己的動漫老公老婆<br>
                                    自創唬爛產生器來幫你寫作業<br>
                                    機器辨識各種複雜圖片<br>
                                    用C++手刻神經網路<br>
                                    想要實作以上內容，或者想在你的高中生活做出一個讓人驚艷的專案，記得，每週三放學，機器學習，我們不見不散。<br>
                                    不必認為自己能力不足，我們會從加法乘法教起，最後也能了解梯度下降、遞迴神經網路等看起來複雜的內容。完成屬於自己的機器學習作品。
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <!--<button type="button" class="btn btn-primary">Learn More</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-2">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                        src="../assets/css/images/algorithms.png" />
                    <h2><strong>星期四</strong><br>C++<br>演算法</h2>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3"
                        style="width: 80%;margin: 5px 10%;">
                        View Detail
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: xx-large;">
                                        C++演算法
                                    </h5>
                                    
                                </div>
                                <div class="modal-body" style="font-size: large;">
                                    你想要了解程式運作的基礎邏輯嗎？對於參加程式競賽和考APCS抱有憧憬嗎？<br>來到C++
                                    與演算法放學社課，我們會從最基礎的語法開始，一步步地介紹資料型態、變數、條件判斷、迴圈、陣列、字串、函數、STL等語法，之後再慢慢教到二分搜、Greedy、遞迴、動態規劃等演算法和解題技巧。另外，我們也將準備充分的練習題目和期末小競賽，並盡量回答同學的疑問，讓大家能在聽課之外有實作的機會。保證你在認真學完一學期的課程後，達到APCS
                                    實作3~4級、CF 1200~1400的實力！
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <!--<button type="button" class="btn btn-primary">Learn More</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                        src="../assets/css/images/hq.png" />
                    <h2><strong>星期五</strong><br>硬體/<br>量子運算</h2>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter4"
                        style="width: 80%;margin: 5px 10%;">
                        View Detail
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: xx-large;">
                                        硬體
                                    </h5>
                                    
                                </div>
                                <div class="modal-body" style="font-size: large;">
                                    你不想再被當電腦店的肥羊嗎?你不想再等待電腦維修的漫長時間嗎?你想要理解GPU的原理嗎?那你就來硬體放學社課吧!!我們會教你歷史,原理,還會帶你實際到店家訪查,甚至自己組裝電腦!!!
                                </div>
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: xx-large;">
                                        量子運算
                                    </h5>
                                    
                                </div>
                                <div class="modal-body" style="font-size: large;">
                                    量子運算，對於臺灣的大部分人來說，可說是一個少見的名詞。<br>
                                    但它可能就是接下來的趨勢！<br>
                                    大家可能都聽過「疊加態」、「糾纏態」，又或者是神奇的「介於有或沒有之間」，<br>
                                    其實這些，都屬於量子運算的探討領域！<br>
                                    更準確地說，量子運算，也就是探討量子電腦的運作原理與其計算，<br>
                                    在課堂中，你可以學到各種與量子電腦相關的知識，更加了解生活中聽到各種與量子電腦相關的事件。<br>
                                    也可以學到許多有用的量子演算法。<br>
                                    對於量子電腦有著憧憬，想要知道量子電腦為什麼可以跑得這麼快嗎？<br>
                                    趕快加入研究量子運算的行列吧！
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <!--<button type="button" class="btn btn-primary">Learn More</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1">
                    <p></p>
                </div>
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->


            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->


        <!-- FOOTER -->
        <%- include('./model/footer.ejs') %>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</html>