<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="TGoC_Charlie and Bootstrap">
    <title>成功電研社-社課</title>

    <!-- Bootstrap core CSS -->
    <%- include('./model/head.ejs') %>




    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .boxl {
            border-radius: 20px 0 0 20px;
            float: left;
            background-color: #2a2a2a;
            width: 50%;
        }

        .boxr {
            border-radius: 0 20px 20px 0;
            background-color: #dddddd;
            float: right;
            width: 50%;
        }

        @media (max-width: 768px) {
            .boxl {
                border-radius: 20px 20px 0 0;
                background-color: #2a2a2a;
                width: 100%;
            }

            .boxr {
                border-radius: 0 0 20px 20px;
                background-color: #dddddd;
                width: 100%;
            }
        }


        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }

        }
    </style>
    <!-- Custom styles for this template -->
</head>

<body>
    <%- include('./model/header.ejs') %>


    <main role="main">



        <!-- Marketing messaging and featurettes
    ================================================== -->
        <div class="container marketing" style="margin-top: 10vh;">
            <div class="row">
                <div class="boxl">
                    <div style="text-align: center;">
                        <h2 style="color: white;font-size: xx-large;font-weight: bold;">一般社課</h2>
                        <p style="color: white;font-size: large;font-weight: bold;">時間：每週五下午社團聯課活動時間<br>
                            地點：成功高中求是樓電腦教室<br>
                            講師團隊：成功電研高二教學群<br>
                            備註：一定要參加，否則會記曠課</p>
                        <p><a class="btn btn-lg btn-primary" href="/normal" role="button">Learn more</a></p>
                    </div>
                    <img style="width: 80%; height: auto; border-radius: 21px 21px 0 0;margin: 0 10%;"
                        src="../assets/css/images/class.png">
                </div>
                <div class="boxr">
                    <div style="text-align: center;">
                        <h2 style="font-size: xx-large;font-weight: bold;">放學社課</h2>
                        <p style="font-size: large;font-weight: bold;">時間：每週一到五放學後<br>
                            地點：建國中學電腦教室<br>
                            講師團隊：建成楓景四校教學群<br>
                            備註：四校聯合社課，不強迫參加</p>
                        <p><a class="btn btn-lg btn-primary" href="/afterschool" role="button">Learn more</a></p>
                    </div>
                    <img style="width: 80%; height: auto; border-radius: 21px 21px 0 0;margin: 0 10%;"
                        src="../assets/css/images/no-image.png">
                </div>
            </div>
            <hr class="featurette-divider">
        </div>



        <!-- FOOTER -->
        <%- include('./model/footer.ejs') %>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</html>