<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="TGoC_Charlie and Bootstrap">
    <title>成功電研社- 放學社課</title>

    <!-- Bootstrap core CSS -->
    <%- include('./model/head.ejs') %>

    <style>
        #ahover:hover {
            color: #007bff;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        h2 {
            margin-top: 50px;
            text-align: center;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
</head>

<body>
<%- include('./model/header.ejs') %>

<main role="main">
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <h1 class="featurette-heading col-12"
                style="text-align: center;margin-top: 50px;padding-bottom: 50px;font-weight: bold">放學社課</h1>
            <div class="col-lg-1">
                <p></p>
            </div>
            <div class="col-lg-2">
                <img class="bd-placeholder-img rounded-circle" style="width: 70%;height: auto;margin: auto 15%;"
                     src="../assets/css/images/secalgorithms.png"/>
                <h2><strong>星期一</strong><br>演算法</h2>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
                        style="width: 80%;margin: 5px 10%;">
                    View Detail
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: xx-large;">
                                    C++演算法
                                </h5>

                            </div>
                            <div class="modal-body" style="font-size: large;">
                                你想要了解程式運作的基礎邏輯嗎？對於參加程式競賽和考APCS抱有憧憬嗎？<br>來到C++
                                與演算法放學社課，我們會從最基礎的語法開始，一步步地介紹資料型態、變數、條件判斷、迴圈、陣列、字串、函數、STL等語法，之後再慢慢教到二分搜、Greedy、遞迴、動態規劃等演算法和解題技巧。另外，我們也將準備充分的練習題目和期末小競賽，並盡量回答同學的疑問，讓大家能在聽課之外有實作的機會。保證你在認真學完一學期的課程後，達到APCS
                                實作3~4級、CF 1200~1400的實力！
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!--<button type="button" class="btn btn-primary">Learn More</button>-->
                            </div>
                        </div>
                    </div>
                </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2">
            <img class="bd-placeholder-img rounded-circle" style="width: 70%;height: auto;margin: auto 15%;"
                 src="../assets/css/images/programming.png"/>
            <h2><strong>星期二</strong><br>物件導向</h2>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1"
                    style="width: 80%;margin: 5px 10%;">
                View Detail
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: xx-large;">
                                物件導向
                            </h5>

                        </div>
                        <div class="modal-body" style="font-size: large;">
                            工欲善其事必先利其器<br>
                            想寫專案的話，學會物件導向是必須的<br>
                            這堂課從什麼是物件導向開始，一步步帶你到專案的世界
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="/OOP">
                                <button type="button" class="btn btn-primary">Learn More</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2">
            <img class="bd-placeholder-img rounded-circle" style="width: 70%;height: auto;margin: auto 15%;"
                 src="../assets/css/images/machine.png"/>
            <h2><strong>星期三</strong><br>機器學習</h2>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2"
                    style="width: 80%;margin: 5px 10%;">
                View Detail
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: xx-large;">
                                機器學習
                            </h5>

                        </div>
                        <div class="modal-body" style="font-size: large;">
                            生成屬於自己的動漫老公老婆<br>
                            自創唬爛產生器來幫你寫作業<br>
                            機器辨識各種複雜圖片<br>
                            用C++手刻神經網路<br>
                            想要實作以上內容，或者想在你的高中生活做出一個讓人驚艷的專案，記得，每週三放學，機器學習，我們不見不散。<br>
                            不必認為自己能力不足，我們會從加法乘法教起，最後也能了解梯度下降、遞迴神經網路等看起來複雜的內容。完成屬於自己的機器學習作品。
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!--<button type="button" class="btn btn-primary">Learn More</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2">
            <img class="bd-placeholder-img rounded-circle" style="width: 70%;height: auto;margin: auto 15%;"
                 src="../assets/css/images/mutimedia.png"/>
            <h2><strong>星期四</strong><br>多媒體</h2>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3"
                    style="width: 80%;margin: 5px 10%;">
                View Detail
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: xx-large;">多媒體
                            </h5>

                        </div>
                        <div class="modal-body" style="font-size: large;">
                            這次的多媒體採單元主題方式，各個主題互不相關，可以挑有興趣的來聽就好!<br>
                            課程內容預計包含:<br>
                            <ul>
                                <li>Beepbox.co 線上音樂製作軟體</li>
                                <li>Mine-Imator Minecraft動畫製作軟體</li>
                                <li>OBS 電腦直播錄影軟體</li>
                                <li>Audacity 音訊編輯軟體</li>
                                <li>Paint.net 圖片編輯軟體</li>
                                <li>DaVinci Resolve 影片編輯軟體</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="/mutimedia">
                                <button type="button" class="btn btn-primary">Learn More</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-lg-2">
                <img class="bd-placeholder-img rounded-circle" style="width: 70%;height: auto;margin: auto 15%;"
                     src="../assets/css/images/ctf.png"/>
                <h2><strong>星期五</strong><br>資安CTF</h2>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter4"
                        style="width: 80%;margin: 5px 10%;">
                    View Detail
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: xx-large;">
                                    資安CTF
                                </h5>

                            </div>
                            <div class="modal-body" style="font-size: large;">
                                從入門到直接放棄
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="https://wiki.ckcsc.net/zh-tw/resources/ctf">
                                    <button type="button" class="btn btn-primary">Learn More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
                <p></p>
            </div>
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->


        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <%- include('./model/footer.ejs') %>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</html>