<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="TGoC_Charlie and Bootstrap">
    <title>成功電研社-一般社課</title>

    <!-- Bootstrap core CSS -->
    <%- include('./model/head.ejs') %>

    <style>
        #ahover:hover {
            color: #007bff;
        }
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
</head>
<body>
    <%- include('./model/header.ejs') %>

<main role="main">
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <h1 class="featurette-heading col-12"
                style="text-align: center;margin-top: 50px;padding-bottom: 50px;font-weight: bold">一般社課</h1>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                     src="../assets/css/images/python.png" /img>
                <h2>Python GUI</h2>
                <p>こんぺこー<br>
                    你等不及讓腦袋はチャマちゃま了嗎<br>
                    等不及用程式做一堆神奇的嗑藥遊戲嗎<br>
                    想要像吸アサココ一樣快樂嗎<br>
                    不想像ねね一樣遜嗎<br>
                    python課程是你的最佳選擇<br>
                    不論是戰吼還是ぺこぺこ，tkinter都能滿足你的慾望<br>
                    おつあくあ〜<br>
                    Pythonわー今日もかわいー</p>
                <p><a class="btn btn-lg btn-primary" href="/secpygui" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                     src="../assets/css/images/c++.png" /img>
                <h2>C++算法班</h2>
                <p>在這學期的C++算法班社課中，我們會介紹各種神奇(?)競賽常見的演算法，如果你想在高中的資訊競賽贏得佳績，豐富你的學習歷程檔案，C++算法班會給你最好的入門，走過路過不要錯過!<br><br><br><br><br><br></p>
                <p><a class="btn btn-lg btn-primary" href="/seccpp" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                     src="../assets/css/images/Flag.png" /img>
                <h2>CTF資訊安全</h2>
                <p>CTF-從我都不會到我就爛之路<br><br><br><br><br><br><br><br><br></p>
                <p><a class="btn btn-lg btn-primary" href="/secctf" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->


        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <%- include('./model/footer.ejs') %>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</html>
