<footer class="container" id="footer" style="width: 100%">
  <img style="width: 100%;margin-bottom: 50px;" src="assets/css/images/CKCSC33rd(black).png">
  <hr class="featurette-divider">
  <div class="row">
    <div class=" marketing col-lg-4 col-md-6 col-sm-12">
      <p class="col-12" style="font-size: xx-large;text-align: center">外部連結</p>
      <div class="dropdown" style="text-align: center;">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
          style="color:black;background-color: white;font-size: x-large;text-align: center;width: 100%;border-color: white;">友社
          <span class="caret"></span></button>
        <ul class="dropdown-menu" style="text-align: center;width: 100%;">
          <li><a href="https://www.facebook.com/INFOR33rd" target="_blank"
              style="font-size: 20px;color: black;text-align: center">建中資訊</a></li>
          <li><a href="https://www.facebook.com/zsisc27th" target="_blank"
              style="font-size: 20px;color: black;text-align: center">中山資研</a></li>
          <li><a href="https://www.facebook.com/cmioc27th" target="_blank"
              style="font-size: 20px;color: black;text-align: center">景美電資</a></li>
          <li><a style="font-size: 20px;color: black;text-align: center">To be continued...</a></li>
        </ul>
      </div>
      <br>
      <div class="dropdown" style="text-align: center;">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
          style="color:black;background-color: white;font-size: x-large;text-align: center;width: 100%;border-color: white;">線上解題系統
          <span class="caret"></span></button>
        <ul class="dropdown-menu" style="text-align: center;width: 100%;">
          <li><a href="https://oj.ckcsc.net/" target="_blank"
              style="font-size: 20px;color: black;text-align: center">成功高中線上解題系統</a></li>
          <li><a href="https://zerojudge.tw/" target="_blank"
              style="font-size: 20px;color: black;text-align: center">高中生程式解題系統</a></li>
          <li><a href="http://www.tcgs.tc.edu.tw:1218/" target="_blank"
              style="font-size: 20px;color: black;text-align: center">台中女中程式解題系統</a></li>
          <li><a href="https://tioj.ck.tp.edu.tw/" target="_blank"
              style="font-size: 20px;color: black;text-align: center">建國高中資訊解題系統</a></li>
          <li><a href="http://acm.csie.org/ntujudge/index.php" target="_blank"
              style="font-size: 20px;color: black;text-align: center">台大ICPC線上解題系統</a></li>
          <li><a href="https://onlinejudge.org/" target="_blank"
              style="font-size: 20px;color: black;text-align: center">UVa線上解題系統</a></li>
              <li><a href="https://codeforces.com/" target="_blank"
                style="font-size: 20px;color: black;text-align: center">Codeforces(CF)</a></li>
          <li><a href="https://neoj.sprout.tw/" target="_blank"
              style="font-size: 20px;color: black;text-align: center">資訊之芽線上解題系統</a></li>
        </ul>
      </div>
      <br>
      <div class="dropdown" style="text-align: center;">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
          style="color:black;background-color: white;font-size: x-large;text-align: center;width: 100%;border-color: white;">檢定/比賽官網
          <span class="caret"></span></button>
        <ul class="dropdown-menu" style="text-align: center;width: 100%;">
          <li><a href="https://apcs.csie.ntnu.edu.tw/" target="_blank"
              style="font-size: 20px;color: black;text-align: center">大學程式設計先修檢測</a></li>
          <li><a href="http://toi.csie.ntnu.edu.tw/" target="_blank"
              style="font-size: 20px;color: black;text-align: center">臺灣國際資訊奧林匹亞</a></li>
          <li><a href="https://www.tw-ytp.com/" target="_blank"
              style="font-size: 20px;color: black;text-align: center">少年圖靈計畫</a></li>
          <li><a href="http://bebras.csie.ntnu.edu.tw/" target="_blank"
              style="font-size: 20px;color: black;text-align: center">國際運算思維挑戰賽</a></li>
          <li><a href="https://toi-reg.csie.ntnu.edu.tw/" target="_blank"
              style="font-size: 20px;color: black;text-align: center">TOI推廣計畫</a></li>
          <li><a href="http://www.csroc.org.tw/ISSC/newsd.php" target="_blank"
              style="font-size: 20px;color: black;text-align: center">國際青年程式競賽</a></li>
          <li><a href="https://contest.cc.ntu.edu.tw" target="_blank"
              style="font-size: 20px;color: black;text-align: center">網路程式設計全國大賽</a></li>
        </ul>
      </div>
    </div>

    <div class=" marketing col-lg-4 col-md-6 col-sm-12">
      <p class="col-12" style="font-size: xx-large;text-align: center">粉專跟匿名</p>
      <p style="text-align: center"><a class="dropdown-item" href="https://www.facebook.com/club.ckcsc.info/"
          id="ahover" target="_blank" style="font-size: 20px;color: black;text-align: center"><i
            class="c fa fa-facebook-official"
            style="font-size: 25px;color: #343a40;text-align: center"></i>&nbsp;CKCSC成功電研社</a>
      </p>
      <br>
      <p style="text-align: center"><a class="dropdown-item" href="https://www.instagram.com/ckcsc33rd_diary/"
          id="ahover" target="_blank" style="font-size: 20px;color: black;text-align: center"><i
            class="c fa fa-instagram"
            style="font-size: 25px;color: #343a40;text-align: center"></i>&nbsp;@ckcsc33rd_diary</a>
      </p>
      <br>
      <p style="text-align: center"><a class="dropdown-item" href="https://peing.net/zh-TW/3251a58c654602?event=0"
          id="ahover" target="_blank" style="font-size: 20px;color: black;text-align: center"><i class="fas fa-box-open"
            style="font-size: 20px;color: #343a40;text-align: center"></i>&nbsp;匿名問題箱</a>
      </p>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <p style="text-align: center;font-size: xx-large">↓成電聊天室↓<br>
        <iframe src="https://www6.cbox.ws/box/?boxid=839045&boxtag=oNFbaG" width="100%" height="500"
          style="border-radius: 10px;" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0"
          marginwidth="0" scrolling="auto" name="成電聊天室"></iframe>
      </p>
    </div>
    <div class="float-left marketing col-12">
      <hr class="featurette-divider">
      <p style="text-align: center">CKCSC © 2021<br>
        designed by TGoC-virus with Bootstrap<br>
        All rights reserved</p>
    </div>
  </div>
</footer>